<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="col-md-auto">
    <table class="table-info table-bordered border-primary" id="ddd" style="min-width: 500px ;background: gainsboro">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Date</th>
            <th scope="col">Cost</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="cos : ${info}">
            <tr>
                <td >[[${cos.id}]]</td>
                <td>[[${cos.date}]]</td>
                <td>[[${cos.cost}]]</td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <button class="myButton" type="button" onclick="myFunc()">press </button>
    <canvas id="myChartCost" style="min-height: 300px"> </canvas>

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:inline="javascript">
    var cost = [[${info}]];
    console.log(cost)
    const chartCost= document.getElementById('myChartCost');
    var chart = new Chart(chartCost,{
        type: 'line',
        data:{
            labels: cost.map(row => row.date),
            datasets:[{
                label: "Cost",
                data: cost.map(row => row.cost)}]}});

    document.getElementById('ddd').onload = setInterval(myFunc,1000);
    async function myFunc(){
    cost = await fetch("http://localhost:8080/info",{method:"GET"}).then(async response => await response.json());
    console.log(cost)
    chart.data.datasets = cost.map(row => row.cost);
    chart.data.labels = cost.map(row => row.date);
    chart.update();
    }
</script>
</body>

</html>